

            <div class="cards">
                <a href="#"><div class="productcard">
                <div class="favi">
                <i class="material-symbols-outlined">favorite</i>
                </div>
                <img  src="{{ product.get_thumbnail }}" alt="">
                
                <p>{{product.title}}</p>
                <h4>${{product.price}}</h4>
                    <div class="butns">
                        <form method="post" action="">
                            {% csrf_token %}
                            <div class="field has-addons">
                                <div class="control">
                                    <button class="button is-dark is-uppercase">Add to Cart</button>
                                </div>
                            </div>
                        </form>
                        <button>
                            <li><a href="{% url 'product:product' product.category.slug product.slug %}">View</a></li>
                        </button>
                    </div>
                </div>
                </a>
             </div>